<div class="sidebar">
  <div class="row">

    <div class="column small-8 large-12">
      {{#if @blog.logo}}
      <a class="logo" href="{{@blog.url}}"><img class="logo__img" src="{{@blog.logo}}" alt="Logo"></a>
      {{else}}
      <h1 class="logo"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
      {{/if}}
      <div class="sidebar__description font-small">{{@blog.description}}</div>
    </div>

    <label class="off-canvas-toggle"><span data-icon="ei-navicon" data-size="s"></span></label>

    <div class="off-canvas-content">

      <div class="column small-12 large-12">
        <nav class="sidebar__navigation">
          <ul class="list-bare text-center">
            {{navigation}}
            <!-- <li><a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">RSS</a></li> -->
          </ul>
        </nav>
      </div>

      <div class="column small-12 large-12">
        <ul class="sidebar__social-nav social-icons">
          <li>
            <a href="https://www.facebook.com/EdEraUa/" target="_blank">
              <span data-icon="ei-sc-facebook" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://vk.com/edera_ua" target="_blank">
              <span data-icon="ei-sc-vk" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/edera_ua" target="_blank">
              <span data-icon="ei-sc-twitter" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/edera_ua/" target="_blank">
              <span data-icon="ei-sc-instagram" data-size="s"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar__bottom">
        <div class="column small-12 large-12">
          <div class="font-tiny">
            <a href="https://www.ed-era.com">
              <span data-icon="ei-chevron-left" data-size="s"></span>Проект EdEra
            </a>
            {{!-- &copy; {{date format="YYYY"}} {{@blog.title}} --}}
          </div>
        </div>
      </div>

    </div> {{!-- off-canvas-content --}}

  </div>
</div>

{{> search-form}}